.home-section .row {
    padding: 32px 17px;
    box-shadow: 0 0 20px rgba($slate-darkest, 0.1);
    @include breakpoint(lg) {
        padding: 64px 49px;
    }
}

.home-section-content {

    @include breakpoint(lg) {
        margin-right: 34px;
        padding-top: 64px;
        padding-bottom: 64px;
        border-top: 2px solid $slate-lightest;
        border-bottom: 2px solid $slate-lightest;
    }

    h2 {
        font-size: 42px;
    }
}

.home-section-img {
    margin-bottom: 32px;
    @include breakpoint(lg) {
        margin-bottom: 0;
    }
}

.home-jumbotron .btn-outline-secondary {
    color: $slate-lightest;
    border-color: $slate-lightest;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: $slate-darkest !important;
        border-color: $slate-lightest !important;
        background-color: $slate-lightest !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

#testimonials .testimonial {
    text-align: center;
}

#testimonials .testimonial .star::before {
	content: "\2605";
	font-size: 32px;
	color: $slate-darkest;
	line-height: 1;
}

#testimonials .carousel-indicators {
    bottom: -32px;
}

#testimonials .carousel-indicators li {
    background-color: $slate-light;
}

#testimonials .carousel-indicators .active {
    background-color: $slate-darkest;
}