.memorials-intro::before {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: calc(-2.5rem + 1px);
    background-color: #ffffff;
    background-image: url(/images/watson-memorials-logo-icon.svg);
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: center center;
    left: calc(50% - 2.5rem);
    z-index: 1;
}

.memorials-intro::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: calc(100% - 30px);
    bottom: 0;
    background: $slate-darkest;
    left: 15px;
}