---
layout:            new-memorials
page-id:           "childrens-memorials"
title:             "Childrens's Memorials, Headstones and Gravestones"
description:       "Children's Memorials, Headstones and Gravestones that are available from Watson Memorials"
keywords:          "Children, Children's, Headstones, Memorials, Gravestones, Watson Memorials"
heading:           "Children's Memorials"
lead:              "Watson Memorials can provide a unique and individual children's style memorial that is bespoke to your thoughts and ideas. All children's memorial headstones can be crafted in any material, the decorative designs on the memorials are shown to illustrate possibilities and do not have to be on your chosen memorial. For example, the Appleton can be crafted in Blue Pearl Granite without the decorative carving."
twitter_image:     "social-meta-childrens-memorials.png"
twitter_image_alt: "Three graphical illustrations of children's headstones with carved teddy bear."
twitter_excerpt:   "Watson Memorials can provide a unique and individual children's style memorial that is bespoke to your thoughts and ideas."
facebook_image:    "social-meta-childrens-memorials.png"
facebook_excerpt:  "Watson Memorials can provide a unique and individual children's style memorial that is bespoke to your thoughts and ideas."
---

<div class="container py-5">
  <div class="row justify-content-center brochure-item-container">

    {% for brochure_item in site.data.childrens-memorials %}

      {% include brochure-item.html %}

    {% endfor %}

  </div>
</div>

{% include contact-callout.html %}
