---
layout:            new-memorials
title:             "Churchyard Memorials, Headstones and Gravestones by Watson Memorials"
description:       "Churchyard Memorials, Headstones and Gravestones that are available from Watson Memorials"
keywords:          "Churchyard, Churches, Traditional, Natural, Stone, Headstones, Memorials, Gravestones"
heading:           "Churchyard Memorials and Headstones"
lead:              "Watson Memorials provides a wide variety of suitable materials to design and craft beautiful headstones, memorials and gravestones that meet Churchyard regulations."
twitter_image:     "social-meta-churchyard-memorials.png"
twitter_image_alt: "Three graphical illustrations of headstones that are of a traditional design to suit churchyards."
twitter_excerpt:   "Watson Memorials provides a wide variety of suitable materials to design and craft beautiful headstones that meet churchyard regulations."
facebook_image:    "social-meta-churchyard-memorials.png"
facebook_excerpt:  "Watson Memorials provides a wide variety of suitable materials to design and craft beautiful headstones that meet churchyard regulations."
---

<div class="text-center mb-5">
  <div class="container">
      <div class="row">
          <div class="memorials-intro col-12 py-5">
            <h2 class="mb-3">Designing Churchyard Memorials</h2>
            <p>When designing headstones for churchyards, the first step is always to find out what regulations the churchyard has in place for the erection of a memorial. Many Churchyards have rules specific to that Churchyard alone, the memorials found on this page cover the wider spectrum to give a good variety of design ideas and to help illustrate possibilities.</p>
            <p class="font-italics">All memorials can be crafted in any material, the decorative designs on the memorials are shown to illustrate possibilities and do not have to be on your chosen memorial.</p>
          </div>
      </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row">

    {% for brochure_item in site.data.churchyard-memorials %}

      {% include brochure-item.html %}

    {% endfor %}

  </div>
</div>

{% include contact-callout.html %}
