---
layout:            new-memorials
page-id:           "lawn-memorials"
title:             "Lawn Style Headstones Memorials and Gravestones by Watson Memorials"
description:       "Headstones, Memorials and Gravestones suitable for lawn sections of Cemeteries and Churchyards"
keywords:          "New Headstones, Headstones, Memorials, Gravestones, Watson Memorials"
heading:           "Lawn Memorials and Headstones"
lead:              "Lawn Memorials are available in a wide variety of shapes and sizes as well as being available in a multitude of finishes and colours. All consultations with Watson Memorials are complimentary giving you as much time as you need to create the perfect lasting memorial for your family member, friend or loved one."
twitter_image:     "social-meta-lawn-memorials.png"
twitter_image_alt: "Graphic of three headstones with illustrated inscription and rose carving "
twitter_excerpt:   "Lawn Memorials Collection Available from Watson Memorials."
facebook_image:    "social-meta-lawn-memorials.png"
facebook_excerpt:  "Lawn Memorials Collection Available from Watson Memorials."
---

<div class="container py-5">
  <div class="row justify-content-center">

    {% for brochure_item in site.data.lawn-memorials %}

      {% include brochure-item.html %}

    {% endfor %}

  </div>
</div>

{% include contact-callout.html %}
