---
layout:            new-memorials
title:             "Vases and Vase Memorials by Watson Memorials"
description:       "Vases and Vase Memorials available for use individually and in conjunction with a headstone, plauqe or kerb memorial."
keywords:          "Vases, Vase, Headstone, Watson Memorials"
heading:           "Vase Memorials"
lead:              "Watson Memorials provides numerous styles of vase to suit all your requirments."
twitter_image:     "social-meta-vase-memorials.png"
twitter_image_alt: "Three graphical illustrations of vases and vase memorials."
twitter_excerpt:   "Watson Memorials provides numerous styles of vase memorials as well as the chance to custom design your own."
facebook_image:    "social-meta-vase-memorials.png"
facebook_excerpt:  "Watson Memorials provides numerous styles of vase memorials as well as the chance to custom design your own."
---

<div class="bg-slate-lighter text-center mb-5">
  <div class="container">
      <div class="row">
          <div class="col-12 py-5">
            <h2 class="mb-3">Creating Vase Memorials</h2>
            <p>Vase Memorials are available for use individually or in conjunction with a headstone, kerb memorial or plaque. There are many different sizes and styles of vase memorial however vases can be custom designed and crafted.</p>
            <p class="font-italic">All memorials can be crafted in any material, the decorative designs on the memorials are shown to illustrate possibilities and do not have to be on your chosen memorial.</p>
          </div>
      </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row">

    {% for brochure_item in site.data.vases %}

      {% include brochure-item.html %}

    {% endfor %}

  </div>
</div>

{% include contact-callout.html %}
