<!-- Brochure Item Wide -->
<div class="col-12 col-lg-6 mb-5">
    <div class="card brochure-item" itemscope itemtype="http://schema.org/Product" id="{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' }}">
        <img class="card-img-top"
             src="/images/new-memorials/{{ brochure_item.image_path }}"
             alt="{{ brochure_item.image_alt }}"
             itemprop="image">
        <div class="card-body">
            <h4 class="card-title">
                <span itemprop="name">{{ brochure_item.name }}</span>
                {% if brochure_item.price %} 
                    - <small class="text-slate-dark">£{{ brochure_item.price }}</small>
                {% endif %}
            </h4>

            {% if brochure_item.price_excluding_design and brochure_item.price_carving %}
                <hr>
                <h5>Memorial Only - <small class="text-slate-dark">£{{ brochure_item.price_excluding_design }}</small></h5>
                <h5>Decorative Carving - <small class="text-slate-dark">£{{ brochure_item.price_carving }}</small></h5>
            {% endif %}

            {% if brochure_item.price %}
                {% unless brochure_item.price_excluding_design %}
                <hr>
                <h5>Memorial Only - <small class="text-slate-dark">£{{ brochure_item.price }}</small></h5>
                <h5>Decorative Carving - <small class="text-slate-dark">{% if brochure_item.price_excluding_design %}£{% endif %}{{ brochure_item.price_carving }}</small></h5>
                {% endunless %}
            {% endif %}

            <hr/>
            <p class="card-text" itemprop="description">Shown in <strong itemprop="material" class="text-slate-dark">{{ brochure_item.material }}</strong> {{ brochure_item.description }}</p>
        </div>
        {% if brochure_item.price %}
        <button class="btn btn-outline-secondary btn-block border-bottom-0 border-right-0 border-left-0 rounded-0 text-left py-3"
                type="button"
                data-toggle="collapse"
                data-target="#collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}"
                aria-expanded="false"
                aria-controls="collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">More Details
                <span class="icon-angle-down float-right"></span>
        </button>
        <div class="collapse px-3" 
             id="collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">

             <table class="table table-bordered table-sm table-brochure-item border-0 mt-3 mb-3">
                <caption><strong>Price(s)</strong></caption>

                <tbody>

                    {% if brochure_item.price_excluding_design %}
                    <tr>
                        <th>Memorial</th>
                        <td class="text-right">£{{ brochure_item.price_excluding_design }}</td>
                    </tr>
                    {% endif %}

                    {% if brochure_item.price_carving %}
                    <tr>
                        <th>Carving</th>
                        <td class="text-right">£{{ brochure_item.price_carving }}</td>
                    </tr>
                    {% endif %}

                    {% if brochure_item.price %}
                    <tr>
                        <th>As Seen</th>
                        <td class="text-right">£{{ brochure_item.price }}</td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>

             <table class="table table-bordered table-sm table-brochure-item border-0 mt-3">
                <caption><strong>Size(s)</strong></caption>

                <tbody>

                    {% if brochure_item.size_memorial_kerb %}
                    <tr>
                        <th>Size</th>
                        <td>{{ brochure_item.size_memorial_kerb }}</td>
                    </tr>
                    {% endif %}

                </tbody>

            </table>

            <p class="card-text font-italic pb-3">
                <small class="d-block mb-1">Price includes <strong>full fitting</strong> of the memorial and <strong>flower vases</strong> as appropriate.</small>
                <small class="d-block mb-1">Lettering costs:
                    <span class="d-block pl-3"><strong>Silver:&nbsp;</strong>£1.71 per letter.</span>
                    <span class="d-block pl-3"><strong>Gold:&nbsp;</strong>£2.05 per letter.</span>
                </small>
                <small class="d-block">For other colors or sizes please <a href="../contact.html">contact us.</a></small>
            </p>
        </div>
        {% endif %}
    </div>
</div>
<!-- //Close Brochure Item Wide -->
