<!-- Brochure Item -->
<div class="col-12 col-md-10 col-lg-6 col-xl-4 mb-5 brochure-item-wrapper d-none">
    <div class="card brochure-item" 
        itemscope 
        itemtype="http://schema.org/Product"
        id="{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">
        <img class="card-img-top"
             src="/images/new-memorials/{{ brochure_item.image_path }}"
             alt="{{ brochure_item.image_alt }}"
             itemprop="image">
        <div class="card-body">
            <h4 class="card-title" itemprop="name">{{ brochure_item.name }}</h4>
            <p class="card-text" itemprop="description">Shown in <strong itemprop="material" class="text-slate-dark">{{ brochure_item.material }}</strong> {{ brochure_item.description }}</p>
            
            {% if brochure_item.price %}
            <button class="btn btn-primary btn-block border-0 rounded-0 text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}"
                    aria-expanded="false"
                    aria-controls="collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">View Price and Size
                    <span class="icon-angle-down float-right"></span>
            </button>
            <div class="card-collapse collapse" 
                 id="collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">
                <p class="card-text pt-3">

                    {% if brochure_item.size_desk %}
                    <span class="d-block">
                        <strong class="text-slate-dark">Size:&nbsp;</strong>{{ brochure_item.size_desk }}
                    </span>
                    {% endif %}

                    {% if brochure_item.size_desk_slope %}
                    <span class="d-block">
                        <strong class="text-slate-dark">Slope:&nbsp;</strong>{{ brochure_item.size_desk_slope }}
                    </span>
                    {% endif %}

                    {% if brochure_item.size_desk_flat %}
                    <span class="d-block"><strong class="text-slate-dark">Flat:&nbsp;</strong>{{ brochure_item.size_desk_flat }}</span>
                    {% endif %}
                    {% if brochure_item.size_vase %}
                    <span class="d-block"><strong class="text-slate-dark">Vase:&nbsp;</strong>{{ brochure_item.size_vase }}</span>
                    {% endif %}
                    {% if brochure_item.size_vase_base %}
                    <span class="d-block"><strong class="text-slate-dark">Base:&nbsp;</strong>{{ brochure_item.size_vase_base }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_cap %}
                    <span class="d-block"><strong class="text-slate-dark">Cap:&nbsp;</strong>{{ brochure_item.size_memorial_cap }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_columns %}
                    <span class="d-block"><strong class="text-slate-dark">Column(s):&nbsp;</strong>{{ brochure_item.size_memorial_columns }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_head %}
                    <span class="d-block"><strong class="text-slate-dark">Headstone:&nbsp;</strong>{{ brochure_item.size_memorial_head }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_cross %}
                    <span class="d-block"><strong class="text-slate-dark">Cross:&nbsp;</strong>{{ brochure_item.size_memorial_cross }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_scroll %}
                    <span class="d-block"><strong class="text-slate-dark">Scroll:&nbsp;</strong>{{ brochure_item.size_memorial_scroll }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_book %}
                    <span class="d-block"><strong class="text-slate-dark">Book:&nbsp;</strong>{{ brochure_item.size_memorial_book }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_wings %}
                    <span class="d-block"><strong class="text-slate-dark">Wings:&nbsp;</strong>{{ brochure_item.size_memorial_wings }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_angel %}
                    <span class="d-block"><strong class="text-slate-dark">Angel:&nbsp;</strong>{{ brochure_item.size_memorial_angel }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_rest %}
                    <span class="d-block"><strong class="text-slate-dark">Rest(s):&nbsp;</strong>{{ brochure_item.size_memorial_rest }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_riser %}
                    <span class="d-block"><strong class="text-slate-dark">Riser(s):&nbsp;</strong>{{ brochure_item.size_memorial_riser }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_vase %}
                    <span class="d-block"><strong class="text-slate-dark">Vase(s):&nbsp;</strong>{{ brochure_item.size_memorial_vase }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_plaque_oval %}
                    <span class="d-block"><strong class="text-slate-dark">Oval Plaque(s):&nbsp;</strong>{{ brochure_item.size_memorial_plaque_oval }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_plaque_square %}
                    <span class="d-block"><strong class="text-slate-dark">Square Plaque(s):&nbsp;</strong>{{ brochure_item.size_memorial_plaque_square }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_bear %}
                    <span class="d-block"><strong class="text-slate-dark">Bear:&nbsp;</strong>{{ brochure_item.size_memorial_bear }}</span>
                    {% endif %}
                    {% if brochure_item.size_memorial_base %}
                    <span class="d-block"><strong class="text-slate-dark">Base:&nbsp;</strong>{{ brochure_item.size_memorial_base }}</span>
                    {% endif %}
                </p>

                <p class="card-text">
                    <span class="d-block mb-0">
                        <strong class="text-slate-dark">Price as seen:&nbsp;</strong>£{{ brochure_item.price }}
                    </span>
                    {% if brochure_item.price_excluding_design %}
                    <span class="d-block mb-0">
                        <strong class="text-slate-dark">Price excluding carving:&nbsp;</strong>£{{ brochure_item.price_excluding_design }}
                    </span>
                    {% endif %}
                </p>

                <p class="card-text font-italic">
                    <small class="d-block mb-1">Price includes <strong>full fitting</strong> of the memorial and <strong>flower vases</strong> as appropriate.</small>
                    <small class="d-block mb-1">Lettering costs:
                        <span class="d-block pl-3"><strong>Silver:&nbsp;</strong>£1.71 per letter.</span>
                        <span class="d-block pl-3"><strong>Gold:&nbsp;</strong>£2.05 per letter.</span>
                    </small>
                    <small class="d-block">For other colors or sizes please <a href="../contact.html">contact us.</a></small>
                </p>

            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- //Close Brochure Item -->
