<!-- Brochure Item Wide -->
<div class="col-12 col-lg-6 mb-5">
    <div class="card brochure-item" itemscope itemtype="http://schema.org/Product" id="{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' }}">
        <img class="card-img-top"
             src="/images/new-memorials/{{ brochure_item.image_path }}"
             alt="{{ brochure_item.image_alt }}"
             itemprop="image">
        <div class="card-body">
            <h4 class="card-title" itemprop="name">{{ brochure_item.name }}</h4>
            <p class="card-text" itemprop="description">Shown in <strong itemprop="material" class="text-slate-dark">{{ brochure_item.material }}</strong> {{ brochure_item.description }}</p>
            {% if brochure_item.price %}
            <button class="btn btn-outline-primary btn-block border-color-lighter border-left-0 border-right-0 rounded-0 text-left px-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}"
                    aria-expanded="false"
                    aria-controls="collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">View Price and Size
                    <span class="fa fa-lg fa-angle-down pull-right"></span>
            </button>
            <div class="card-collapse collapse" 
                 id="collapse_{{ brochure_item.id_prefix }}_{{ brochure_item.name | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">
                <p class="card-text pt-3">
                    {% if brochure_item.size_memorial_kerb %}
                    <span class="d-block"><strong class="text-slate-dark">Custom Size:&nbsp;</strong>{{ brochure_item.size_memorial_kerb }}</span>
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if brochure_item.price %}
                    <p class="card-text mb-0"><strong class="text-slate-dark">Price:&nbsp;</strong>{{ brochure_item.price }}</p>
                    {% endif %}
                </p>
                <p class="card-text font-italic">
                    <small class="d-block">Price includes <strong>full fitting</strong> of the memorial and <strong>100 letters</strong>.</small>
                    <small class="d-block">For other colors or sizes please <a href="../contact.html">contact us.</a></small>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- //Close Brochure Item Wide -->
