<div class="bg-slate-darker text-center">
  <div class="container">
      <div class="row">
          <div class="col-12 py-5" id="contact-callout">
            <h2 class="text-slate-lightest mb-3">Contact Watson Memorials</h2>
            <p class="text-slate-lighter">If you have any questions regarding memorials, services or the background of Watson Memorials, Craig would be more than happy to talk to you and discuss your queries in detail, Watson Memorials is a proud business and would like to offer the highest quality customer service at all times.</p>
            <a class="btn btn-lg btn-secondary" href="/contact.html">Contact<span class="icon-angle-right ms-2"></span></a>
          </div>
      </div>
  </div>
</div>
