<div class="bg-slate-lightest">
  <div class="container pt-3">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column-reverse flex-sm-row justify-content-sm-between">

          <p class="text-center text-sm-left text-slate-dark">&copy; 2017 Craig Andrew Watson T/A Watson Memorials</p>

          <ul class="nav justify-content-center justify-content-sm-end p-0 mb-3 mb-sm-0">

            <li class="nav-item mr-3">
              <a class="nav-link p-0" target="_blank" href="https://twitter.com/WatsonMemorials">
                <span class="sr-only">Twitter</span>
                <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
              </a>
            </li>

            <li class="nav-item mr-3">
              <a class="nav-link p-0" target="_blank" href="https://www.facebook.com/watsonmemorials/">
                <span class="sr-only">Facebook</span>
                <i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link p-0" target="_blank" href="https://www.linkedin.com/company-beta/18028279/">
                <span class="sr-only">LinkedIn</span>
                <i class="fa fa-lg fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
