<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<!-- Watson Memorial Scripts -->
<script src="/js/scripts.min.js"></script>

{% if page.url == '/thank-you.html' %}
<script>
  var windowHeight = $(window).height() - $('.navbar').outerHeight();

  $('.page-jumbotron').css({ 'height': windowHeight + 'px' });

  $(window).resize(function () {

    var windowHeight = $(window).height();

    $('.page-jumbotron').css({ 'height': windowHeight + 'px' });

  });
</script>
{% endif %}

<script>

  $(document).ready(function () {
    // after the page elements are all loaded, then run the script
    // Set the input field with unique ID #email to a value

    $("#memName").val('{{ page.title }}');


  });

</script>

</body>
<!-- //Close body -->

</html>