
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <!-- Watson Memorial Scripts -->
    <script src="/js/scripts.min.js"></script>

    <!-- Contact Form Scripts -->
    {% if page.url == '/contact.html' %}
    <script src="/contact-form/assets/js/contact.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}

  </body>
  <!-- //Close body -->

</html>
