<section class="home-section mt-md-5 pt-md-5" id="additional-inscriptions">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-12 home-section-content">
                <h2 class="display-5 text-center text-white font-italic mb-3">Add Wording To A Headstone</h2>
                <p class="lead text-center text-white font-weight-light">For further information on adding wording to a headstone please read on...</p>
                <p class="text-center mb-0"><a href="/services/order-additional-inscription.html" class="btn btn-lg btn-outline-primary">Add Wording To A Headstone</a></p>
            </div><!-- /.col* -->
        </div><!-- /.row* -->
    </div><!-- /.container* -->
</section><!-- /.home-section* -->