<!-- Testimonials and Call Out -->
{% include testimonials.html %}
<!-- ./ Testimonials and Call Out -->

<!-- Every Detail Call Out -->
{% include home-page-callout-details-are-important.html %}
<!-- ./ Every Detail Call Out -->

<!-- Lawn Memorials -->
{% include /home-services/lawn-memorials.html %}
<!-- ./ Lawn Memorials -->

<!-- Churchyard Memorials -->
{% include /home-services/churchyard-memorials.html %}
<!-- ./ Churchyard Memorials -->

<!-- Children's Memorials -->
{% include /home-services/childrens-memorials.html %}
<!-- ./ Children's Memorials -->

<!-- Tablet Memorials -->
{% include /home-services/tablet-memorials.html %}
<!-- ./ Tablet Memorials -->

<!-- Additional Inscription Call Out -->
{% include home-page-callout-add-ins.html %}
<!-- ./ Additional Inscription Call Out -->


<section class="home-section mt-md-5 pt-md-5" id="vaseMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-8 col-sm-8 col-md-6 col-lg-3">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/vase-memorials.png" alt="Vase memorials.">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-9 d-flex align-items-center home-section-content-col">
        <div class="home-section-content">
          <h2 class="display-5">Vase Memorials</h2>
          <p class="text-slate-darker">Vase Memorials can be used individually, as well as in conjunction with a
            headstone or kerb memorial. There are many different sizes and styles however custom vases can be designed
            and crafted to suit your requirements.</p>
          <a href="/new-memorials/vases.html" class="btn btn-lg btn-primary">
            View Online Brochure
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-md-5 pt-md-5" id="kerbMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-8">
        <div class="home-section-img">
          <img class="img-fluid mb-3" src="/images/kerb-memorials-grave-surrounds.png"
            alt="Kerb memorial and grave surround.">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 d-flex align-items-center home-section-content-col">
        <div class="home-section-content">
          <h2 class="display-5">Kerb Memorials &amp; Grave Surrounds</h2>
          <p class="text-slate-darker">Kerb memorials and grave surrounds have been used for many years to personalise
            grave spaces. They come in a variety of styles and configurations, Watson Memorials will take the time to
            understand your requirements and design the perfect personalised grave space for your family, friend or love
            one.</p>
          <a href="/new-memorials/kerbs.html" class="btn btn-lg btn-primary">
            View Online Brochure
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include home-page-callout-custom-designs.html %}

<section class="home-section mt-5 pt-5" id="restorationServices">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse shadow-none p-0 pb-5">

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="box-shadow">
          <div class="home-section-img">
            <img class="img-fluid" src="/images/straighten-and-re-fix-headstone-icon.svg"
              alt="Re fixing and straightening a memorial.">
          </div>
          <div class="p-3 text-center text-lg-left">
            <h2 class="display-5 text-center text-lg-left">Re-Fixing &amp; Straightening</h2>
            <p class="text-slate-darker text-center text-lg-left">From time to time memorials of all sizes can have the need to be straightened.
              This is usually due to soil settlement and requires very little adjustment. There are of course times when
              older fixing methods have become loose and the memorial needs further work. Watson Memorials can take care
              of all the re-fixing on site and update all the fixing methods as required.</p>
            <a href="/services/re-fix-and-straighten.html" class="btn btn-lg btn-primary">
              Read More
              <span class="icon-angle-right ml-2"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="box-shadow">
          <div class="home-section-img">
            <img class="img-fluid" src="/images/re-paint-and-re-gild-headstone-icon.svg"
              alt="Re fixing and straightening a memorial.">
          </div>
          <div class="p-3 text-center text-lg-left">
            <h2 class="display-5 text-center text-lg-left">Re-Painting &amp; Re-Gilding</h2>
            <p class="text-slate-darker text-center text-lg-left">Due to memorials being exposed to all weather conditions, as well as in some
              cases collecting sap from trees and sediment in rain, there is often a time when the engraved lettering on
              the memorial, if painted or gilded, can become discoloured or even begin to chip away. Watson Memorials
              can
              certainly rejuvenate the lettering back to its original state.</p>
            <a href="/services/re-paint-and-re-gild.html" class="btn btn-lg btn-primary">
              Read More
              <span class="icon-angle-right ml-2"></span>
            </a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="box-shadow">
          <div class="home-section-img">
            <img class="img-fluid w-sm-50" src="/images/clean-and-restore-headstone-icon.svg"
              alt="Re fixing and straightening a memorial.">
          </div>
          <div class="p-3 text-center text-lg-left">
            <h2 class="display-5 text-center text-lg-left">Cleaning &amp; Restoration</h2>
            <p class="text-slate-darker text-center text-lg-left">As Memorials age, they can become discoloured and weathered. This has varying
              degrees of severity and is mainly effected by the material used to make the Headstone, Memorial or
              Gravestone. Watson Memorials provides a thorough and professional Cleaning and Restoration Service for all
              styles of Memorials, Headstones and Gravestones.</p>
            <a href="/services/cleaning-and-restoration.html" class="btn btn-lg btn-primary">
              Read More
              <span class="icon-angle-right ml-2"></span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>