<section class="home-section mt-md-5 pt-md-5" id="details-are-important">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-12 home-section-content">
                <h2 class="display-5 text-center font-italic mb-3">Every Detail Is Important</h2>
                <p class="lead text-center font-weight-light">Each service we provide and at each stage in the procees - <strong>Every Detail Is Important</strong></p>
                <p class="text-center mb-0"><a href="/contact.html" class="btn btn-lg btn-outline-primary">Contact Us</a></p>
            </div><!-- /.col* -->
        </div><!-- /.row* -->
    </div><!-- /.container* -->
</section><!-- /.home-section* -->