<section class="home-section mt-md-5 pt-md-5" id="custom-designs">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-12 home-section-content">
                <h2 class="display-5 text-center text-white font-italic mb-3">Bespoke Designs</h2>
                <p class="lead text-center text-white font-weight-light">We can create bespoke designs for all sizes of memorials, please feel free to contact us with your ideas and we can help you create a lasting memorial.</strong></p>
                <p class="text-center mb-0"><a href="/contact.html" class="btn btn-lg btn-outline-primary">Contact Us</a></p>
            </div><!-- /.col* -->
        </div><!-- /.row* -->
    </div><!-- /.container* -->
</section><!-- /.home-section* -->