<!-- Open .jumbotron -->
<div class="jumbotron jumbotron-fluid home-jumbotron text-center pt-0 pb-5">

  <!-- Mobile "Call Now" button -->
  <a id="jumbotron-call-now" class="btn btn-lg btn-block text-white text-center d-sm-none border-0" href="tel:07742961770">Call Now</a>

  <div class="container py-5">
    <img src="images/watson-memorials-logo-white.svg" width="400" class="img-fluid mt-5" id="navbar-logo-icon" alt="Watson Memorials Logo">
    <h1 class="sr-only">Watson Memorials - Headstone, Memorials and Gravestones in Darlington and the Surrounding Areas</h1>
    <p class="lead text-white mt-5 mb-0">{{ page.lead }}</p>
    <a class="btn btn-lg btn-outline-secondary mt-5" href="contact.html">Contact Us<span class="fa fa-lg fa-angle-right ml-2"></span></a>
  </div>

</div>
<!-- //Close .jumbotron -->
