<section class="home-section mt-5" id="testimonials">

  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-12">

        <h2 class="display-5 text-center mb-5">Testimonials</h2>

        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
            <li data-target="#carouselIndicators" data-slide-to="3"></li>
          </ol>

          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="testimonial">
                <p>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                </p>
                <h5>Excellent Service - <small>Muriel Byers</small></h5>
                <p>Found this company after visiting many sites & several actual showrooms looking for a headstone. This was definitely the best, most helpful and considerate staff with clearly illustrated & extensive list of headstones. From initial enquiries through selecting, ordering and erecting of the headstone the member of staff has been most helpful and patient. The finished item is excellent, very good value for money, delivered well in the specified time and I would recommend Watson Memorials and definitely use again without hesitation.</p>
              </div>
            </div><!-- /.carousel-item -->

            <div class="carousel-item">
              <div class="testimonial">
                <p>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                </p>
                <h5>Highly Recommended - <small>G. Di Duca</small></h5>
                <p>They made a first class job of restoring a grave. A most impressive service. The appointment at the grave to discuss the work was kept on time. Good communication throughout and the work completed promptly at a very reasonable price. Highly recommended.</p>
              </div>
            </div><!-- /.carousel-item -->

            <div class="carousel-item">
              <div class="testimonial">
                <p>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                </p>
                <h5>Very Professional - <small>J. Gamblin and Family</small></h5>
                <p>We contacted Watson Memorials as we need a stone to mark an existing grave where Mam's ashes had be laid to rest. On the grave was a headstone for my grandparents and it was dirty and had lost some lettering.  Watson memorials came to our home we picked a vase for Mam and agreed to having the original headstone cleaned and restored.  All we can say is wow what a fantastic transformation of original stone and perfect vase for Mam.  The whole family are over the moon. We would definitely recommend the service provided by Watsons very professional, caring and understand. Thank you.</p>
              </div>
            </div><!-- /.carousel-item -->

            <div class="carousel-item">
              <div class="testimonial">
                <p>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                </p>
                <h5>Highly Recommended - <small>S. Sinclair</small></h5>
                <p>I used Watson Memorials to carry out a full restoration on a memorial headstone and the works carried out were absolutely first class in terms of the quality of work which was exceptional, efficiency, communication and respect. Highly recommended.</p>
              </div>
            </div><!-- /.carousel-item -->
          
          </div><!-- /.carousel-inner -->

        </div>
      </div>
    </div>
  </div>

</section>

<section class="home-section mt-5" id="lawnMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/lawn-memorials-headstones.png" alt="Lawn style headstone.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Lawn Memorials &amp; Headstones</h2>
          <p class="text-slate-darker">Lawn memorials are most widely known as standard headstones, this is because they have been the most chosen style of headstone for many years. They have become known as lawn memorials because of their placement within sections of Cemeteries and Churchyards known as lawn sections. A lawn memorial or headstone comprises of a headpiece and base, both of which are fully customisable within the Cemetery or Churchyards rules and regulations.</p>
          <a href="/new-memorials/lawn-memorials.html" class="btn btn-lg btn-primary">
            View Range
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-5" id="churchYardMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/churchyard-memorials-headstones.png" alt="Churchyard style headstone.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Churchyard Memorials &amp; Headstones</h2>
          <p class="text-slate-darker">Churchyard Memorials are defined so by the material they are made from. Many Churchyards require headstones to have a natural finish, this can be achieved with granite if the surface is left in a honed state (not polished) however, it is more common to see the use of traditional materials such as York stone, Portland stone and slate. Other than the requirements of material finish, the design of the headstone can be done so in the same way a lawn memorial would be in most cases.</p>
          <a href="/new-memorials/churchyard-memorials.html" class="btn btn-lg btn-primary">
            View Range
          <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-5" id="childrensMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/childrens-memorials-headstones.png" alt="Children's style memorial.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Children's Memorials &amp; Headstones</h2>
          <p class="text-slate-darker">Watson Memorials have a range of children's style headstones that showcases the near endless design opportunities. All consultations with Watson Memorials are completely complimentary giving you as much time as you need to create the perfect lasting memorial.</p>
          <a href="/new-memorials/childrens-memorials.html" class="btn btn-lg btn-primary">
            View Range
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-5" id="tabletMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/tablet-memorials.png" alt="Tablet and plaque style memorial.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Tablet Memorials &amp; Plaques</h2>
          <p class="text-slate-darker">Tablet memorials and wedges can be used individually or in conjunction with a headstone or kerb memorial. You have options for flat, sloping and desk styles as well as many of the finishes and design opportunities found with all other memorials.</p>
          <a href="/new-memorials/tablets.html" class="btn btn-lg btn-primary">
            View Range
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-5" id="vaseMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/vase-memorials.png" alt="Vase memorials.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Vase Memorials</h2>
          <p class="text-slate-darker">Vase Memorials can be used individually, as well as in conjunction with a headstone or kerb memorial. There are many different sizes and styles however custom vases can be designed and crafted to suit your requirements.</p>
          <a href="/new-memorials/vases.html" class="btn btn-lg btn-primary">
            View Range
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-5" id="kerbMemorials">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-sm-10 col-md-10 col-lg-8">
        <div class="home-section-img">
          <img class="img-fluid mb-3" src="/images/kerb-memorials-grave-surrounds.png" alt="Kerb memorial and grave surround.">
        </div>
      </div>
      <div class="col-12 col-lg-12">
        <div class="home-section-content">
          <h2 class="display-5">Kerb Memorials &amp; Grave Surrounds</h2>
          <p class="text-slate-darker">Kerb memorials and grave surrounds have been used for many years to personalise grave spaces. They come in a variety of styles and configurations, Watson Memorials will take the time to understand your requirements and design the perfect personalised grave space for your family, friend or love one.</p>
          <a href="/new-memorials/kerbs.html" class="btn btn-lg btn-primary">
            View Range
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-5" id="refixAndStraighten">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/straighten-and-re-fix-headstone-icon.svg" alt="Re fixing and straightening a memorial.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Re-Fixing &amp; Straightening</h2>
          <p class="text-slate-darker">From time to time memorials of all sizes can have the need to be straightened. This is usually due to soil settlement and requires very little adjustment. There are of course times when older fixing methods have become loose and the memorial needs further work. Watson Memorials can take care of all the re-fixing on site and update all the fixing methods as required.</p>
          <a href="/services/re-fix-and-straighten.html" class="btn btn-lg btn-primary">
            Read More
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section mt-5" id="repaintAndRegild">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/re-paint-and-re-gild-headstone-icon.svg" alt="Re fixing and straightening a memorial.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Re-Painting &amp; Re-Gilding</h2>
          <p class="text-slate-darker">Due to memorials being exposed to all weather conditions, as well as in some cases collecting sap from trees and sediment in rain, there is often a time when the engraved lettering on the memorial, if painted or gilded, can become discoloured or even begin to chip away. Watson Memorials can certainly rejuvenate the lettering back to its original state.</p>
          <a href="/services/re-paint-and-re-gild.html" class="btn btn-lg btn-primary">
            Read More
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section my-5" id="cleaningAndRestoration">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-lg-row-reverse">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="home-section-img">
          <img class="img-fluid" src="/images/clean-and-restore-headstone-icon.svg" alt="Re fixing and straightening a memorial.">
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="home-section-content">
          <h2 class="display-5">Cleaning &amp; Restoration</h2>
          <p class="text-slate-darker">As Memorials age, they can become discoloured and weathered. This has varying degrees of severity and is mainly effected by the material used to make the Headstone, Memorial or Gravestone. Watson Memorials provides a thorough and professional Cleaning and Restoration Service for all styles of Memorials, Headstones and Gravestones.</p>
          <a href="/services/cleaning-and-restoration.html" class="btn btn-lg btn-primary">
            Read More
            <span class="icon-angle-right ml-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
