<section class="py-5" id="lawnMemorials">
  <div class="container">
    <div class="row flex-column-reverse flex-md-row py-md-5">
      <div class="col-12 col-md-6 align-self-center text-center">
        <h2 class="display-5">Lawn Memorials &amp; Headstones</h2>
        <p class="text-slate-darker">Lawn memorials are most widely known as standard headstones, this is because they have been the most chosen style of headstone for many years. They have become known as lawn memorials because of their placement within sections of Cemeteries and Churchyards known as lawn sections. A lawn memorial or headstone comprises of a headpiece and base, both of which are fully customisable within the Cemetery or Churchyards rules and regulations.</p>
        <a href="/new-memorials/lawn-memorials.html" class="btn btn-lg btn-outline-primary">View Range</a>
      </div>
      <div class="col-8 col-md-6 align-self-center">
        <img class="img-fluid mb-3 mb-md-0" src="/images/lawn-memorials-headstones.png" alt="Lawn style headstone.">
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="churchYardMemorials">
  <div class="container has-hp-divider">
    <div class="row flex-column flex-md-row py-md-5">
        <div class="col-8 col-md-6 align-self-center">
          <img class="img-fluid mb-3 mb-md-0" src="/images/churchyard-memorials-headstones.png" alt="Churchyard style headstone.">
        </div>
      <div class="col-12 col-md-6 align-self-center text-center">
        <h2 class="display-5">Churchyard Memorials &amp; Headstones</h2>
        <p class="text-slate-darker">Churchyard Memorials are defined so by the material they are made from. Many Churchyards require headstones to have a natural finish, this can be achieved with granite if the surface is left in a honed state (not polished) however, it is more common to see the use of traditional materials such as York stone, Portland stone and slate. Other than the requirements of material finish, the design of the headstone can be done so in the same way a lawn memorial would be in most cases.</p>
        <a href="/new-memorials/churchyard-memorials.html" class="btn btn-lg btn-outline-primary">View Range</a>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="childrensMemorials">
  <div class="container has-hp-divider">
    <div class="row flex-column-reverse flex-md-row py-md-5">
      <div class="col-12 col-md-6 align-self-center text-center">
        <h2 class="display-5">Children's Memorials &amp; Headstones</h2>
        <p class="text-slate-darker">Watson Memorials have a range of children's style headstones that showcases the near endless design opportunities. All consultations with Watson Memorials are completely complimentary giving you as much time as you need to create the perfect lasting memorial.</p>
        <a href="/new-memorials/childrens-memorials.html" class="btn btn-lg btn-outline-primary">View Range</a>
      </div>
      <div class="col-8 col-md-6 align-self-center">
        <img class="img-fluid mb-3 mb-md-0" src="/images/childrens-memorials-headstones.png" alt="Children's style memorial.">
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="kerbMemorials">
  <div class="container has-hp-divider">
    <div class="row justify-content-center py-md-5">
      <div class="col-12 col-md-8 align-self-center">
        <img class="img-fluid mb-3" src="/images/kerb-memorials-grave-surrounds.png" alt="Kerb memorial and grave surround.">
      </div>
      <div class="col-12 text-center">
        <h2 class="display-5 text-center mb-3">Kerb Memorials &amp; Grave Surrounds</h2>
        <p class="text-slate-darker text-md-center">Kerb memorials and grave surrounds have been used for many years to personalise grave spaces. They come in a variety of styles and configurations, Watson Memorials will take the time to understand your requirements and design the perfect personalised grave space for your family, friend or love one.</p>
        <a href="/new-memorials/kerbs.html" class="btn btn-lg btn-outline-primary align-self-start align-self-md-center">View Range</a>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="tabletAndVaseMemorials">
  <div class="container has-hp-divider">
    <div class="row py-md-5">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-end text-center mb-5 mb-md-0" id="tabletMemorials">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img class="img-fluid mb-3 mb-md-0" src="/images/tablet-memorials.png" alt="Tablet memorial.">
        </div>
        <h2 class="display-5">Tablet Memorials</h2>
        <p class="text-slate-darker">Tablet memorials and wedges can be used individually or in conjunction with a headstone or kerb memorial. You have options for flat, sloping and desk styles as well as many of the finishes and design opportunities found with all other memorials.</p>
        <a href="/new-memorials/tablets.html" class="btn btn-lg btn-outline-primary align-self-center">View Range</a>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-end text-center has-hp-divider-on-mobiles" id="vaseMemorials">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img class="img-fluid mb-3 mb-md-0" src="/images/vase-memorials.png" alt="Vase memorial.">
        </div>
        <h2 class="display-5">Vase Memorials</h2>
        <p class="text-slate-darker">Vase Memorials can be used individually, as well as in conjunction with a headstone or kerb memorial. There are many different sizes and styles however custom vases can be designed and crafted to suit your requirements.</p>
        <a href="/new-memorials/vases.html" class="btn btn-lg btn-outline-primary align-self-center">View Range</a>
      </div> 
    </div>
  </div>
</section>


<section class="py-5" id="services">
  <div class="container has-hp-divider">
    <div class="row flex-column flex-lg-row py-md-5">

      <div class="col-12 col-xl-4">

        <div class="row flex-column flex-md-row flex-xl-column py-md-5">
          <div class="col-8 col-md-6 col-xl-10 align-self-center mb-3 mb-md-0 mb-xl-5">
            <img class="img-fluid" src="/images/straighten-and-re-fix-headstone-icon.svg" alt="Icon to illustrate the straightening and re-fixing of a Headstone or Memorial">   
          </div>
          <div class="col-12 col-md-6 col-xl-12 align-self-center text-center mb-5 mb-md-0">
            <h2 class="display-5">Re-Fixing &amp; Straightening</h2>
            <p class="text-slate-darker">From time to time memorials of all sizes can have the need to be straightened. This is usually due to soil settlement and requires very little adjustment. There are of course times when older fixing methods have become loose and the memorial needs further work. Watson Memorials can take care of all the re-fixing on site and update all the fixing methods as required.</p>
            <a href="/services/re-fix-and-straighten.html" class="btn btn-lg btn-outline-primary mt-auto">Read More</a>
          </div>
        </div>

      </div>

      <div class="col-12 col-xl-4">

        <div class="row flex-column-reverse flex-md-row flex-xl-column-reverse py-md-5">
          <div class="col-12 col-md-6 col-xl-12 align-self-center text-center mb-5 mb-md-0">
            <h2 class="display-5">Re-Painting &amp; Re-Gilding</h2>
            <p class="text-slate-darker">Due to memorials being exposed to all weather conditions, as well as in some cases collecting sap from trees and sediment in rain, there is often a time when the engraved lettering on the memorial, if painted or gilded, can become discoloured or even begin to chip away. Watson Memorials can certainly rejuvenate the lettering back to its original state.</p>
            <a href="/services/re-paint-and-re-gild.html" class="btn btn-lg btn-outline-primary mt-auto">Read More</a>
          </div>
          <div class="col-8 col-md-6 col-xl-10 align-self-center mb-3 mb-md-0 mb-xl-5">
            <img class="img-fluid" src="/images/re-paint-and-re-gild-headstone-icon.svg" alt="Icon to illustrate the re-painting and re-gilding of a Headstone or Memorial">
          </div>
        </div>

      </div>

      <div class="col-12 col-xl-4">

        <div class="row flex-column flex-md-row flex-xl-column py-md-5">
          <div class="col-8 col-md-6 col-xl-10 align-self-center mb-3 mb-md-0 mb-xl-5">
            <img class="img-fluid" src="/images/clean-and-restore-headstone-icon.svg" alt="Icon to illustrate the cleaning and restoration of a Headstone or Memorial">
          </div>
          <div class="col-12 col-md-6 col-xl-12 align-self-center text-center mb-5 mb-md-0">
            <h2 class="display-5">Cleaning &amp; Restoration</h2>
            <p class="text-slate-darker">As Memorials age, they can become discoloured and weathered. This has varying degrees of severity and is mainly effected by the material used to make the Headstone, Memorial or Gravestone. Watson Memorials provides a thorough and professional Cleaning and Restoration Service for all styles of Memorials, Headstones and Gravestones.</p>
            <a href="/services/cleaning-and-restoration.html" class="btn btn-lg btn-outline-primary mt-auto">Read More</a>
          </div>
        </div>

      </div>

  </div>
</section>
