<table class="table table-bordered table-sm table-brochure-item border-0 mt-3">
    <caption class="sr-only"><strong>Size(s)</strong></caption>

    <tbody>


        {% if page.size_desk %}
        <tr>
            <th>Size</th>
            <td>{{ page.size_desk }}</td>
        </tr>
        {% endif %}

        {% if page.size_desk_slope %}
        <tr>
            <th>Slope</th>
            <td>{{ page.size_desk_slope }}</td>
        </tr>
        {% endif %}

        {% if page.size_desk_flat %}
        <tr>
            <th>Flat</th>
            <td>{{ page.size_desk_flat }}</td>
        </tr>
        {% endif %}

        {% if page.size_vase %}
        <tr>
            <th>Vase</th>
            <td>{{ page.size_vase }}</td>
        </tr>
        {% endif %}

        {% if page.size_vase_base %}
        <tr>
            <th>Base</th>
            <td>{{ page.size_vase_base }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_cap %}
        <tr>
            <th>Base</th>
            <td>{{ page.size_memorial_cap }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_columns %}
        <tr>
            <th>Column(s)</th>
            <td>{{ page.size_memorial_columns }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_head %}
        <tr>
            <th>Headstone</th>
            <td>{{ page.size_memorial_head }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_cross %}
        <tr>
            <th>Cross</th>
            <td>{{ page.size_memorial_cross }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_scroll %}
        <tr>
            <th>Scroll</th>
            <td>{{ page.size_memorial_scroll }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_book %}
        <tr>
            <th>Book</th>
            <td>{{ page.size_memorial_book }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_wings %}
        <tr>
            <th>Wings</th>
            <td>{{ page.size_memorial_wings }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_angel %}
        <tr>
            <th>Angel</th>
            <td>{{ page.size_memorial_angel }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_rest %}
        <tr>
            <th>Rest(s)</th>
            <td>{{ page.size_memorial_rest }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_riser %}
        <tr>
            <th>Riser(s)</th>
            <td>{{ page.size_memorial_riser }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_vase %}
        <tr>
            <th>Vase(s)</th>
            <td>{{ page.size_memorial_vase }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_plaque_oval %}
        <tr>
            <th>Oval Plaques(s)</th>
            <td>{{ page.size_memorial_plaque_oval }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_plaque_square %}
        <tr>
            <th>Square Plaques(s)</th>
            <td>{{ page.size_memorial_plaque_square }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_bear %}
        <tr>
            <th>Bear</th>
            <td>{{ page.size_memorial_bear }}</td>
        </tr>
        {% endif %}

        {% if page.size_memorial_base %}
        <tr>
            <th>Base</th>
            <td>{{ page.size_memorial_base }}</td>
        </tr>
        {% endif %}

    </tbody>

</table>

