<option data-place-holder="true">-- LAWN MEMORIALS --</option>

{% for brochure_item in site.data.lawn-memorials %}

<option value="{{ brochure_item.name }}"

        {% if brochure_item.price_excluding_design %}
            data-price-ex="{{ brochure_item.price_excluding_design }}"
        {% endif %}

        {% if brochure_item.price %}
            data-price-inc="{{ brochure_item.price }}"
        {% endif %}

        {% if brochure_item.price_carving != "N/A" %}
            data-price-carv="{{ brochure_item.price_carving }}"
        {% endif %}

        data-img-path="/images/new-memorials/{{ brochure_item.image_path }}">
        {{ brochure_item.name }}
</option>

{% endfor %}

<option data-place-holder="true">-- CHURCHYARD MEMORIALS --</option>

{% for brochure_item in site.data.churchyard-memorials %}

<option value="{{ brochure_item.name }}" 

        {% if brochure_item.price_excluding_design %}
            data-price-ex="{{ brochure_item.price_excluding_design }}"
        {% endif %}

        {% if brochure_item.price %}
            data-price-inc="{{ brochure_item.price }}"
        {% endif %}

        {% if brochure_item.price_carving != "N/A" %}
            data-price-carv="{{ brochure_item.price_carving }}"
        {% endif %}

        data-img-path="/images/new-memorials/{{ brochure_item.image_path }}">
        {{ brochure_item.name }}
</option>

{% endfor %}

<option data-place-holder="true">-- CHILDRENS MEMORIALS --</option>

{% for brochure_item in site.data.childrens-memorials %}

<option value="{{ brochure_item.name }}" 

        {% if brochure_item.price_excluding_design %}
            data-price-ex="{{ brochure_item.price_excluding_design }}"
        {% endif %}

        {% if brochure_item.price %}
            data-price-inc="{{ brochure_item.price }}"
        {% endif %}

        {% if brochure_item.price_carving != "N/A" %}
            data-price-carv="{{ brochure_item.price_carving }}"
        {% endif %}

        data-img-path="/images/new-memorials/{{ brochure_item.image_path }}">
        {{ brochure_item.name }}
</option>

{% endfor %}

<option data-place-holder="true">-- KERB MEMORIALS --</option>

{% for brochure_item in site.data.kerbs %}

<option value="{{ brochure_item.name }}" 

        {% if brochure_item.price_excluding_design %}
            data-price-ex="{{ brochure_item.price_excluding_design }}"
        {% endif %}

        {% if brochure_item.price %}
            data-price-inc="{{ brochure_item.price }}"
        {% endif %}

        {% if brochure_item.price_carving != "N/A" %}
            data-price-carv="{{ brochure_item.price_carving }}"
        {% endif %}

        data-img-path="/images/new-memorials/{{ brochure_item.image_path }}">
        {{ brochure_item.name }}
</option>

{% endfor %}

<option data-place-holder="true">-- VASE MEMORIALS --</option>

{% for brochure_item in site.data.vases %}

<option value="{{ brochure_item.name }}" 

        {% if brochure_item.price_excluding_design %}
            data-price-ex="{{ brochure_item.price_excluding_design }}"
        {% endif %}

        {% if brochure_item.price %}
            data-price-inc="{{ brochure_item.price }}"
        {% endif %}

        {% if brochure_item.price_carving != "N/A" %}
            data-price-carv="{{ brochure_item.price_carving }}"
        {% endif %}

        data-img-path="/images/new-memorials/{{ brochure_item.image_path }}">
        {{ brochure_item.name }}
</option>

{% endfor %}

<option data-place-holder="true">-- TABLET & DESK MEMORIALS --</option>

{% for brochure_item in site.data.plaques %}

<option value="{{ brochure_item.name }}" 

        {% if brochure_item.price_excluding_design %}
            data-price-ex="{{ brochure_item.price_excluding_design }}"
        {% endif %}

        {% if brochure_item.price %}
            data-price-inc="{{ brochure_item.price }}"
        {% endif %}

        {% if brochure_item.price_carving != "N/A" %}
            data-price-carv="{{ brochure_item.price_carving }}"
        {% endif %}

        data-img-path="/images/new-memorials/{{ brochure_item.image_path }}">
        {{ brochure_item.name }}
</option>

{% endfor %}