<div class="modal fade" id="shortlistModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shortlistModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-0" id="shortlistModalText"></p>
      </div>
      <div class="modal-footer">
        {% if page.url != '/my-shortlist.html' %}
          <a class="btn btn-primary" href="../my-shortlist.html">View Shortlist</a>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
