<!-- Open .navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-faded" id="siteNavbar">

  <!-- Open .navbar-brand -->
  <a class="navbar-brand" href="/index.html">
    <img src="/images/watson-memorials-logo-icon.svg" height="30" width="41" class="d-inline-block align-top" id="navbar-logo-text-right" alt="Watson Memorials Logo Icon">
    <span class="sr-only">Watson Memorials</span>
  </a>
  <!-- //Close .navbar-brand -->

  <!-- Open .navbar-toggler -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#siteNavbarCollapse" aria-controls="siteNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span>Menu</span>
  </button>
  <!-- //Close .navbar-toggler -->

  <!-- Open .navbar-collapse -->
  <div class="collapse navbar-collapse" id="siteNavbarCollapse">

    <!-- Open .navbar-nav -->
    <div class="navbar-nav ml-auto">

      <a class="nav-item nav-link {% if page.url == '/index.html' %}active{% endif %}" href="/index.html">
        Home <span class="icon-angle-right d-lg-none"></span>
        {% if page.url == '/index.html' %}<span class="sr-only">(current)</span>{% endif %}
      </a>

      <a class="nav-item nav-link {% if page.url == '/about.html' %}active{% endif %}" href="/about.html">
        About <span class="icon-angle-right d-lg-none"></span>
        {% if page.url == '/about.html' %}<span class="sr-only">(current)</span>{% endif %}
      </a>

      <a class="nav-item nav-link {% if page.url == '/new-memorials/*.html' %}active{% endif %}" href="/new-memorials/lawn-memorials.html">
        Online Brochure
        {% if page.url == '/new-memorials/lawn-memorials.html' %}<span class="sr-only">(current)</span>{% endif %}
      </a>

      <a class="nav-item nav-link {% if page.url == '/headstone-inscriptions.html' %}active{% endif %}" href="/headstone-inscriptions.html">
        Inscription Examples <span class="icon-angle-right d-lg-none"></span>
        {% if page.url == '/headstone-inscriptions.html' %}<span class="sr-only">(current)</span>{% endif %}
      </a>

      <!-- Open .dropdown -->
      <div class="nav-item dropdown" id="mainNavDropdown2">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Services <span class="icon-angle-down"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right border-0 rounded-0">
          <a class="dropdown-item {% if page.url == '/services/cleaning-and-restoration.html' %}active{% endif %}" href="/services/cleaning-and-restoration.html">
            Cleaning &amp; Restoration
            {% if page.url == '/services/cleaning-and-restoration.html' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
          <a class="dropdown-item {% if page.url == '/services/re-paint-and-re-gild.html' %}active{% endif %}" href="/services/re-paint-and-re-gild.html">
            Re-Paint &amp; Re-Gild
            {% if page.url == '/services/re-paint-and-re-gild.html' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
          <a class="dropdown-item {% if page.url == '/services/re-fix-and-straighten.html' %}active{% endif %}" href="/services/re-fix-and-straighten.html">
            Re-Fix &amp; Straighten
            {% if page.url == '/services/re-fix-and-straighten.html' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </div>
      </div>
      <!-- //Close .dropdown -->

      <a class="nav-item nav-link {% if page.url == '/contact.html' %}active{% endif %}" href="/contact.html">
        Contact <span class="icon-angle-right d-lg-none"></span>
        {% if page.url == '/contact.html' %}<span class="sr-only">(current)</span>{% endif %}
      </a>

    </div>
    <!-- //Close .navbar-nav -->

  </div>
  <!-- //Close .navbar-collapse -->

</nav>
<!-- //Close .navbar -->
