/* Styles for creating shortlist */
#nav-my-shortlist {
  padding: calc(0.5rem - 1px);
  margin: calc(0.5rem - 1px);
  color: $slate-darkest;
  border: 1px solid $slate-darkest !important;
  border-radius: calc(.25rem - 1px) !important;
  &:hover,
	&:focus {
    color: #fff;
    background-color: $slate-darkest;
    border: 1px solid $slate-darkest !important;
	}
}

#dropdownMyShortlist {
	border-top: 1px solid $slate-light;
}

.brochure-item,
.brochure-item-example {
	border-color: $slate-lighter;
}

.brochure-item .add-to-shortlist,
.brochure-item .delete-from-shortlist,
.brochure-item-example .example-add-to-shortlist {
	padding: 1rem;
	color: $slate-darkest;
	text-align: center;
	border: none;
	border-top: 1px solid $slate-lighter;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: $slate-lightest;
	&:hover,
	&:focus,
  &:active {
		padding: 1rem;
		color: $slate-darkest;
		text-align: center;
		border: none;
		border-top: 1px solid $slate-lighter;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		cursor: pointer;
    outline: none !important;
		box-shadow: none !important;
		background-color: darken($slate-lightest, 4%);
	}
}

.brochure-item .card-body,
.brochure-item-example .card-body {
	border-top: 1px solid $slate-lighter;
}

.brochure-item .delete-from-shortlist {
	color: #c23356;
	&:hover,
	&:focus,
	&:active {
		color: #c23356;
	}
}