<section class="home-section mt-md-5 pt-md-5" id="churchYardMemorials">
    <div class="container">
      <div class="row justify-content-center align-items-center flex-lg-row-reverse">
        <div class="col-8 col-sm-8 col-md-6 col-lg-3">
          <div class="home-section-img">
            <img class="img-fluid" src="/images/churchyard-memorials-headstones.png" alt="Churchyard style headstone.">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-9 d-flex align-items-center home-section-content-col">
          <div class="home-section-content">
            <h2 class="display-5">Churchyard Memorials &amp; Headstones</h2>
            <p class="text-slate-darker">Churchyard Memorials are defined so by the material they are made from. Many Churchyards require headstones to have a natural finish, this can be achieved with granite if the surface is left in a honed state (not polished) however, it is more common to see the use of traditional materials such as York stone, Portland stone and slate. Other than the requirements of material finish, the design of the headstone can be done so in the same way a lawn memorial would be in most cases.</p>
            <a href="/new-memorials/churchyard-memorials.html" class="btn btn-lg btn-primary">
              View Online Brochure
            <span class="icon-angle-right ml-2"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>