<section class="home-section mt-md-5 pt-md-5" id="lawnMemorials">
    <div class="container">
      <div class="row justify-content-center align-items-center flex-lg-row-reverse">
        <div class="col-8 col-sm-8 col-md-6 col-lg-3">
          <div class="home-section-img">
            <img class="img-fluid" src="/images/lawn-memorials-headstones.png" alt="Lawn style headstone.">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-9 d-flex align-items-center home-section-content-col">
          <div class="home-section-content">
            <h2 class="display-5">Lawn Memorials &amp; Headstones</h2>
            <p class="text-slate-darker">Lawn memorials are most widely known as standard headstones, this is because they have been the most chosen style of headstone for many years. They have become known as lawn memorials because of their placement within sections of Cemeteries and Churchyards known as lawn sections. A lawn memorial or headstone comprises of a headpiece and base, both of which are fully customisable within the Cemetery or Churchyards rules and regulations.</p>
            <a href="/new-memorials/lawn-memorials.html" class="btn btn-lg btn-primary">
              View Online Brochure
              <span class="icon-angle-right ms-2"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>