<section class="home-section mt-md-5 pt-md-5" id="tabletMemorials">
    <div class="container">
      <div class="row justify-content-center align-items-center flex-lg-row-reverse">
        <div class="col-8 col-sm-8 col-md-6 col-lg-3">
          <div class="home-section-img">
            <img class="img-fluid" src="/images/tablet-memorials.png" alt="Tablet and plaque style memorial.">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-9 d-flex align-items-center home-section-content-col">
          <div class="home-section-content">
            <h2 class="display-5">Tablet Memorials &amp; Plaques</h2>
            <p class="text-slate-darker">Tablet memorials and wedges can be used individually or in conjunction with a headstone or kerb memorial. You have options for flat, sloping and desk styles as well as many of the finishes and design opportunities found with all other memorials.</p>
            <a href="/new-memorials/tablets.html" class="btn btn-lg btn-primary">
              View Online Brochure
              <span class="icon-angle-right ml-2"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>