// Buttons
//
// All modifications to the .btn class are made here.
// -------------------------------------------------------------- //
button:hover {
    cursor: pointer;
}

.btn {
    font-family: 'Times New Roman', Times, sans-serif !important;
    letter-spacing: 0.5px;
}

.btn-primary {
    color: $slate-lightest;
    background-color: $slate-darkest;
    border: none !important;

    &:hover,
    &:focus {
        color: $slate-lightest;
        background-color: $slate-dark;
        border: none !important;
    }
}

.btn-outline-primary {
    color: $slate-darkest;
    border-color: $slate-darkest;

    &:hover,
    &:focus {
        color: $slate-darkest;
        background-color: $slate-light;
        border-color: $slate-light;
    }
}
