// Typography
//
// This file modifiles and base text styles.
// -------------------------------------------------------------- //
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, sans-serif;
    font-weight: bold !important;
    color: $slate-darkest;
}

.font-times {
    font-family: 'Times New Roman', Times, sans-serif !important;
}

.display-5 {
    font-size: 2rem;
    @include breakpoint(xl) {
        font-size: 3rem;
    }
}
