// Typography
//
// This file modifiles and base text styles.
// -------------------------------------------------------------- //
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, sans-serif;
    font-weight: bold !important;
    color: $slate-darkest;
}

.bg-slate-lightest .card-block a {

    color: $slate-base;
    text-decoration: none;
    border-bottom: 1px solid $slate-base;

}

.font-times {
    font-family: 'Times New Roman', Times, sans-serif !important;
}

.display-5 {
    font-size: 2rem;
    @include breakpoint(xl) {
        font-size: 3rem;
    }
}

.nice-list {

    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    list-style: none;
    border: 1px solid $slate-light;
    border-radius: 3px;

    li {
        position: relative;
        margin-bottom: 0;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        letter-spacing: 0.5px;
        background-color: $slate-lighter;
    }

    li:not(:last-child) {
        border-bottom: 1px solid $slate-light;
    }

}
